.el-container {
  .el-footer {
    padding: 0;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    color: #333;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .time {
  }
}
