.d-header {
  box-shadow: 0 0 5px #888;
  z-index: 999;
}

.d-logo {
  padding: 0 20px;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
  height: 61px;

  h1 {
    line-height: 61px;
    margin: 0;
  }
}